<div class="jumbotron">
  <h1>Test</h1>
  <!-- <p>{{boxscore}}</p> -->
  <h2 class="date">August 5, 2014</h2>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      Select a Game
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" data-game="gid_2014_08_05_anamlb_lanmlb_1/">LA Angels at LA Dodgers</a></li>
      <li><a href="#" data-game="gid_2014_08_05_atlmlb_seamlb_1/">Atlanta at Seattle</a></li>
      <li><a href="#" data-game="gid_2014_08_05_balmlb_tormlb_1/">Baltimore at Toronto</a></li>
      <li><a href="#" data-game="gid_2014_08_05_bosmlb_slnmlb_1/">Boston at St. Louis</a></li>
      <li><a href="#" data-game="gid_2014_08_05_chnmlb_colmlb_1/">Chicago Cubs at Colorado</a></li>
      <li><a href="#" data-game="gid_2014_08_05_cinmlb_clemlb_1/">Cincinnati at Cleveland</a></li>
      <li><a href="#" data-game="gid_2014_08_05_detmlb_nyamlb_1/">Detroit at NY Yankees</a></li>
      <li><a href="#" data-game="gid_2014_08_05_houmlb_phimlb_1/">Houston at Philadelphia</a></li>
      <li><a href="#" data-game="gid_2014_08_05_kcamlb_arimlb_1/">Kansas City at Arizona</a></li>
      <li><a href="#" data-game="gid_2014_08_05_miamlb_pitmlb_1/">Miami at Pittsburgh</a></li>
      <li><a href="#" data-game="gid_2014_08_05_nynmlb_wasmlb_1/">NY Mets at Washington</a></li>
      <li><a href="#" data-game="gid_2014_08_05_sdnmlb_minmlb_1/">San Diego at Minnesota</a></li>
      <li><a href="#" data-game="gid_2014_08_05_sfnmlb_milmlb_1/">San Francisco at Milwaukee</a></li>
      <li><a href="#" data-game="gid_2014_08_05_tbamlb_oakmlb_1/">Tampa Bay at Oakland</a></li>
      <li><a href="#" data-game="gid_2014_08_05_texmlb_chamlb_1/">Texas at Chicago White Sox</a></li>
    </ul>
  </div><!-- /.dropdown -->
</div>
